[package]
name = "minidumper"
version = "0.1.0"
edition = "2021"

[dependencies]
# Nicer cfg handling
cfg-if = "1.0"
crash-context = { version = "0.0.3", path = "../crash-context" }
libc = "0.2"
# Basic log emitting
log = "0.4"
# Minidump writing (currently linux/android only)
#minidump-writer = { git = "https://github.com/EmbarkStudios/minidump_writer_linux", rev = "7f5b7d7" } # branch = "main"
minidump-writer = { path = "../../mdw" }
# Event loop
polling = "2.2"
# Nicer locking primitives
parking_lot = "0.12"
# Nicer error creation
thiserror = "1.0"

[target.'cfg(any(target_os = "linux", target_os = "android"))'.dependencies]
# Improved Unix domain socket support, includes features that are not available in std
uds = "0.2.6"

[target.'cfg(any(target_os = "windows", target_os = "macos"))'.dependencies]
# Nicer binary interop
scroll = "0.11"

[target.'cfg(target_os = "windows")'.dependencies.windows-sys]
version = "0.34"
features = [
    "Win32_Foundation",         # Core types eg HANDLE
    "Win32_Networking_WinSock", # Sockets
    "Win32_System_IO",          # Sockets
    "Win32_System_Threading",   # OpenProcess
]

[dev-dependencies]
# catching crashes to request minidumps
exception-handler = { path = "../exception-handler" }
# uuid generation
uuid = { version = "0.8", features = ["v4"] }
backtrace = "0.3"
